Repository DataDog/dd-trace-php: changes, and which Codecov flags are due for each by the changed paths.
All: helper, extension

codecov.yml:

flags:
  helper:
    paths:
      - src/helper/
  extension:
    paths:
      - src/extension/

Fix path to llvm script
  .github/workflows/extension.yml
  .github/workflows/helper.yml
Due: none

Update installation with --no-appsec
  tests/docker/alpine-apache2-fpm/Dockerfile
  tests/docker/apache2-fpm/Dockerfile
  tests/docker/apache2-mod/Dockerfile
Due: none

Fix indentation
  src/api/Http/Urls.php
Due: none

Adjust meta tags for response headers
  CHANGELOG.md
  src/extension/string_helpers.c
  src/extension/string_helpers.h
  src/extension/tags.c
  tests/extension/ancillary_tags.phpt
Due: extension

Add embed SAPI to shared-ext containers (#1403)
  dockerfiles/ci/buster/docker-compose.yml
  dockerfiles/ci/buster/php-7.4/configure_shared_ext.sh
  dockerfiles/ci/buster/php-8.0/configure_shared_ext.sh
Due: none

fpm/cgi -i use enabled_on_cli, not enabled
  src/extension/ddappsec.c
Due: extension

Add \datadog\appsec\is_enabled() pub func
  src/extension/ddappsec.c
  src/extension/php_objects.h
  tests/extension/0010.phpt
Due: extension

Add test for fpm -i using enabled_on_cli
  tests/integration/src/test/groovy/com/datadog/appsec/php/integration/Apache2FpmTests.groovy
Due: none

Remove zend_call_function() out of redundant else block
  zend_abstract_interface/methods/php5/methods.c
Due: none

Bump CMake version
  .circleci/config.yml
  components/CMakeLists.txt
Due: none

Use empty_fcall_info* initializers
  zend_abstract_interface/methods/php5/methods.c
  zend_abstract_interface/methods/tests/methods.cc
Due: none

Use ZAI_TSRMLS_DC
  zend_abstract_interface/methods/methods.h
Due: none

Lint
  zend_abstract_interface/methods/php5/methods.c
Due: none

Bump CMake version (#1404)
  .circleci/config.yml
  components/CMakeLists.txt
Due: none

Use LSTRLEN
  src/extension/tags.c
Due: extension

Be more precise in documentation
  components/channel/channel.h
Due: none

Fix constructor of OpenTracing wrapper when no Datadog tracer is provided
  src/DDTrace/OpenTracer/Tracer.php
  src/DDTrace/OpenTracer1/Tracer.php
  tests/OpenTracer1Unit/TracerTest.php
  tests/OpenTracerUnit/TracerTest.php
Due: none

Add uuid component (#1393)
  components/CMakeLists.txt
  components/uuid/CMakeLists.txt
  components/uuid/tests/CMakeLists.txt
  components/uuid/tests/uuid.cc
  components/uuid/uuid.c
  components/uuid/uuid.h
Due: none

Add time component
  components/CMakeLists.txt
  components/time/CMakeLists.txt
  components/time/time.c
  components/time/time.h
Due: none

Export only specific symbols
  Makefile
  config.m4
  ddtrace.sym
  dockerfiles/compile_extension/build-dd-trace-php
  ext/php5/ddtrace.c
  ext/php7/ddtrace.c
  ext/php7/ddtrace_export.h
  ext/php7/span.c
  ext/php7/span.h
  ext/php8/ddtrace.c
  ext/php8/ddtrace_export.h
  ext/php8/span.c
  ext/php8/span.h
  package.xml
Due: none

Add simple test for time component
  components/time/CMakeLists.txt
  components/time/tests/CMakeLists.txt
  components/time/tests/time.cc
Due: none

Add profiler with wall-time and cpu-time
  Makefile
  config.m4
  ext/php7/ddtrace.c
  ext/php8/ddtrace.c
  m4/pkg.m4
  profiling/.clang-format
  profiling/datadog-profiling.c
  profiling/datadog-profiling.h
  profiling/datadog-profiling.m4
  profiling/php_datadog-profiling.h
  profiling/plugins/log_plugin/log_plugin.c
  profiling/plugins/log_plugin/log_plugin.h
  profiling/plugins/recorder_plugin/recorder_plugin.c
  profiling/plugins/recorder_plugin/recorder_plugin.h
  profiling/plugins/stack_collector_plugin/stack_collector_plugin.c
  profiling/plugins/stack_collector_plugin/stack_collector_plugin.h
  profiling/stack-collector/CMakeLists.txt
  profiling/stack-collector/stack-collector.c
  profiling/stack-collector/stack-collector.h
Due: none

Fix constructor of OpenTracing wrapper when no Datadog tracer is provided (#1406)
  src/DDTrace/OpenTracer/Tracer.php
  src/DDTrace/OpenTracer1/Tracer.php
  tests/OpenTracer1Unit/TracerTest.php
  tests/OpenTracerUnit/TracerTest.php
Due: none

installer: handle 1st round of comments
  dd-library-php-setup.php
  dockerfiles/verify_packages/installer/test_install_non_root_user.sh
Due: none

WAF logger callback, upgrade WAF to v1.0.15, reduce default log level to warn
  src/helper/config.cpp
  src/helper/subscriber/waf.cpp
Due: helper

Move installer naming from tracer to trace
  dd-library-php-setup.php
  dockerfiles/verify_packages/installer/test_alpine_no_libcurl.sh
  dockerfiles/verify_packages/installer/test_alpine_no_libexecinfo.sh
  dockerfiles/verify_packages/installer/test_first_install.sh
  dockerfiles/verify_packages/installer/test_install_appsec_prev_config.sh
  dockerfiles/verify_packages/installer/test_install_custom_installation_directory.sh
  dockerfiles/verify_packages/installer/test_install_custom_installation_root.sh
  dockerfiles/verify_packages/installer/test_install_no_ext_curl_no_curl_cli.sh
  dockerfiles/verify_packages/installer/test_install_no_ext_curl_yes_curl_cli.sh
  dockerfiles/verify_packages/installer/test_install_non_root_user.sh
  dockerfiles/verify_packages/installer/test_install_subdir_from_file.sh
  dockerfiles/verify_packages/installer/test_install_subdir_from_url.sh
  dockerfiles/verify_packages/installer/test_install_subdir_from_version.sh
  dockerfiles/verify_packages/installer/test_install_tracer_appsec_latest_piecewise.sh
  dockerfiles/verify_packages/installer/test_uninstall.sh
  dockerfiles/verify_packages/installer/test_uninstall_tracer_appsec.sh
  dockerfiles/verify_packages/installer/test_upgrade_from_legacy.sh
  dockerfiles/verify_packages/installer/test_upgrade_from_php_installer.sh
Due: none

Fixed using incorrect level
  src/helper/subscriber/waf.cpp
Due: helper

Missing breaks
  src/helper/subscriber/waf.cpp
Due: helper

Simplify waf logger initialisation so that it can be tested, add unit tests
  src/helper/main.cpp
  src/helper/subscriber/waf.cpp
  src/helper/subscriber/waf.hpp
  tests/helper/CMakeLists.txt
  tests/helper/waf_test.cpp
Due: helper

Moved log_cb to anon namespace and fixed typos
  src/helper/subscriber/waf.cpp
  src/helper/subscriber/waf.hpp
  tests/helper/waf_test.cpp
Due: helper

Typo
  tests/helper/waf_test.cpp
Due: none

Improve issue/pr templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Not checking for null default logger and restoring logger after waf_test
  src/helper/subscriber/waf.cpp
  tests/helper/waf_test.cpp
Due: helper

Removed emotional e.g.
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Add check for json - not available by default in alpine - to new installation script
  dd-library-php-setup.php
  dockerfiles/verify_packages/Makefile
  dockerfiles/verify_packages/installer/test_alpine_no_ext_json.sh
Due: none

Remove support for late static binding
  zend_abstract_interface/methods/php5/methods.c
Due: none

Added defer and updated test to restore logger
  src/helper/defer.hpp
  tests/helper/waf_test.cpp
Due: helper

Added copyright header
  src/helper/defer.hpp
Due: helper

Verify legacy installer when json extension is not enabled
  .circleci/config.yml
  dockerfiles/verify_packages/Makefile
  dockerfiles/verify_packages/verify_no_ext_json.sh
  package/post-install.sh
Due: none

Updated defer - tidy
  src/helper/defer.hpp
Due: helper
